*
{
  padding: 0px;
  margin: 0px;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
body
{
  background-image: url(https://github.com/atarisama/TitsAndShadows.page/blob/main/media/Background-characters.png?raw=true);
  background-color: #4b2454;
  color: #fff;
}

header img{
  width: 180px;
  margin-left: 2vw;
  margin-top: 2vw;
}

nav{
  top: 1vw;
}

ul{
  list-style-type: none;
  margin-left: 280px;
  padding: 0;
  display:flex;
}

li {
  margin-top: -55px;
  margin-right: 30px;
  
}
a {
  color: #fff; /* Color del texto del enlace */
  text-decoration: none; /* Eliminar la decoración del enlace */
  padding: 5px 10px; /* Espacio interno del enlace */
  text-align: center;
}
.menu-item{
  font-size: 25px;
}
.menu-item:hover{
  color: #ffffff80;
}
.logo-top{
  max-width: 800px;
  margin-left: 6vw;
  margin-top: 2vw;
}
.play-button{
  font-size: 60px;
  display: inline-block;
  background-color: #5601778c;
  padding: 30px 70px;
  border-radius: 100px;
  margin-left: 300px;
  margin-top: 30px;
}
.play-button:hover{
  background-color: #270136de;
}
.plataforms{
  width: 260px;
  margin-left: 400px;
  margin-top: 40px;
}
.steam-logo{
  width: 500px;
  margin-left: 280px;
  margin-top: 30px;
}